---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="about">
  <h2 class="text-3xl font-bold mb-6 text-hub-title dark:text-hub-title-dark">About Me</h2>
  <div class="text-hub-light-gray dark:text-hub-dark-gray text-lg leading-relaxed">
    I'm a Software Developer, IT Consultant, and Computer Science Educator with over five years of experience working across both tech and education. I build web and mobile apps, work with cloud tools and data, and also love teaching ICT in a hands-on, project-based way. Whether it's solving real-world problems with code or helping students grow their tech skills, I’m passionate about making an impact in both industries.
  </div>
</SectionContainer>
